$breakpoints: (
  "thin": 320px,
  "small": 768px,
  "medium": 992px,
  "large": 1200px,
  "very-large": 1440px,
) !default;
/// Mixin to manage responsive breakpoints
/// @author Kitty Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
@mixin rotate($deg) {
  transform: rotate($deg);
}
// @mixin pseudo($loc: before, $content: "", $pos: absolute) {
//   position: relative;
//   &::#{$loc} {
//     content: $content;
//     position: $pos;
//     @content;
//   }
// }
@mixin pseudo(
  $display: block,
  $pos: absolute,
  $content: "",
  $width: 100%,
  $height: 100%
) {
  content: $content;
  display: $display;
  position: $pos;
  width: $width;
  height: $height;
  @content;
}
@mixin transition($prop, $time, $easing: ease-in, $delay: 0s) {
  $transition: ();
  @for $i from 1 through length($prop) {
    @for $j from 0 to (length($prop)) - (length($time)) {
      $time: join($time, nth($time, -1));
    }
    @for $j from 0 to (length($prop)) - (length($easing)) {
      $easing: join($easing, nth($easing, -1));
    }
    @for $j from 0 to (length($prop)) - (length($delay)) {
      $delay: join($delay, nth($delay, -1));
    }

    $transition: append(
      $transition,
      (nth($prop, $i) nth($time, $i) nth($easing, $i) nth($delay, $i)),
      $separator: comma
    );
  }
  transition: $transition;
}
