@use '../utils';
@use '../base';
%button {
  margin: 1.5rem;
  border-radius: clamp(2rem, 2rem + 1vw, 2.5rem);
  border: none;
  padding: clamp(1rem, 0.9rem + 1vw, 1.5rem);
  background: linear-gradient(utils.$secondary, utils.$primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  &:active,
  &:hover {
    cursor: pointer;
    background: linear-gradient(
      utils.$lighten-secondary,
      utils.$lighten-primary
    );
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.66);
  }
}

.hero__header {
  .header__content {
    .header__button {
      @extend %button;
    }
  }
}
.hero__menu {
  .menu__submit {
    @extend %button;
    display: block;
    padding: 1rem clamp(1rem, 0.9rem + 3vw, 4rem);
    margin: 0 auto 3rem;
    color: utils.$white;
    font-size: clamp(0.9rem, 0.7rem + 1.5vw, 2rem);
    font-weight: bold;
    @include utils.respond-to('large') {
      grid-column: 1 / -1;
      box-shadow: 0px 0px 15px 2px rgb(153 226 208 / 90%);
      &:active,
      &:hover {
        opacity: 1;
        box-shadow: 0 0 15px 5px rgba(153 226 208 / 100%);
      }
    }
  }
}
