@use "../utils";
@use "../base";
%button {
  margin: 1.5rem;
  border-radius: clamp(2rem, 2rem + 1vw, 2.5rem);
  border: none;
  padding: clamp(1rem, 0.9rem + 1vw, 1.5rem);
  background: linear-gradient(utils.$secondary, utils.$primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  &:focus,
  &:active,
  &:hover {
    opacity: 0.85;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.66);
    cursor: pointer;
  }
}

.section__header {
  .header__content {
    .header__button {
      @extend %button;
    }
  }
}
